<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundy.dao.core.RoleMapper">
  <resultMap id="BaseResultMap" type="com.sundy.core.Role">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLENAME" jdbcType="VARCHAR" property="rolename" />
    <result column="ROLEDESC" jdbcType="VARCHAR" property="roledesc" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLENAME, ROLEDESC
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="findRoleByMenuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
		    c.ID,
		    c.ROLEID,
		    c.MENUID
		FROM
		    role a
		LEFT JOIN
		   role_resource c
		ON
		    c.ROLEID=a.ID
		WHERE
		    c.MENUID=#{menuId}
   </select>
  
  <select id="findRoleByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
		 SELECT
		    a.ID,
		    a.ROLENAME,
		    a.ROLEDESC
		FROM
		    role a
		LEFT JOIN
		    role_member b
		ON
		    a.ID=b.ROLEID
		LEFT JOIN
		    USER c
		ON
		    c.ID=b.MEMBERID
		WHERE
		    c.USERNAME=#{userName}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sundy.core.Role">
    insert into role (ID, ROLENAME, ROLEDESC
      )
    values (#{id,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{roledesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sundy.core.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rolename != null">
        ROLENAME,
      </if>
      <if test="roledesc != null">
        ROLEDESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="roledesc != null">
        #{roledesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sundy.core.Role">
    update role
    <set>
      <if test="rolename != null">
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="roledesc != null">
        ROLEDESC = #{roledesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sundy.core.Role">
    update role
    set ROLENAME = #{rolename,jdbcType=VARCHAR},
      ROLEDESC = #{roledesc,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>